@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Koben.IPRestrictor.ModelsBuilder.HomePage>
@{
	Layout = null;
}

<h1>
	Opening hours:
</h1>

@if (Model.OpeningHours?.OpeningTimes?.Any() == true)
{
	<ul>
		@foreach (var openingTime in Model.OpeningHours.OpeningTimes)
		{
			<li>
				@openingTime.Weekday: @openingTime.Open - @openingTime.Close
				@if (!string.IsNullOrWhiteSpace(openingTime.Open2) && !string.IsNullOrWhiteSpace(openingTime.Close2))
				{
					<span>, @openingTime.Open2 - @openingTime.Close2</span>
				}
			</li>
		}
	</ul>
}